.bangers-regular {
    font-family: "Bangers";
    font-weight: 400;
    font-style: normal;
}
.body2 {
    width: auto;
    height: 100vw;
    background-image: linear-gradient(to bottom right, black, purple);
    
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Bangers", system-ui;
    font-size: 50px;

}
.eraumavez {
    text-decoration: none;
    color: purple;
    

}
